body {
    margin: 0%;
    padding: 0%;
    border: 0em;
    background-color: #C6EBF6;
    font-family: 'Montserrat', sans-serif;
}

.home_title {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
}

.home_line {
    height: 1px;
    width: 80%;
    color: black;
}

.home_button {
    font-size: 1em;
    text-align: center;
}

.button_color {
    color: black;
}

.button_color:hover {
    color: wheat;
  }

.home_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 30%;
    border-radius: 50%;
}

.home_props {
    font-family: 'Montez', cursive;
    font-size: 1em;
    text-align: center;
    margin-top: 1em;
}

.bottom_buttons {
    margin-top: 2em;
    font-size: 2em;
}

.title_recipe {
    font-family: 'Montez', cursive;
    font-size: 3em;
    text-align: center;
    margin-bottom: 2em;
}